<footer class="footer">
	<div class="container">
		<div class="footer__row row">
			<div class="footer__column col-8">
				<a href="/" class="footer__logo">
					<img src="img/logos/logo_white.svg" alt="UN-HABITAT" width="89" height="89">
				</a>
				<div class="footer__row row">
					<div class="footer__column col-7">
						<div class="footer__address">United Nations Human Settlements Programme (UN-Habitat)<br>P.O. Box 30030-00100<br>
							<a class="footer__address-link" href="mailto:unhabitat-info@un.org">unhabitat-info@un.org</a><br>Nairobi, Kenya
						</div>
					</div>
					<div class="footer__column col-5">
						<ul class="footer__social">
							<li class="footer__social-item">
								<a class="footer__social-link footer__social-facebook" href="#" title="Facebook"></a>
							</li>
							<li class="footer__social-item">
								<a class="footer__social-link footer__social-linkedin" href="#" title="LinkedIn"></a>
							</li>
							<li class="footer__social-item">
								<a class="footer__social-link footer__social-twitter" href="#" title="Twitter"></a>
							</li>
							<li class="footer__social-item">
								<a class="footer__social-link footer__social-instagram" href="#" title="Instagram"></a>
							</li>
							<li class="footer__social-item">
								<a class="footer__social-link footer__social-youtube" href="#" title="Youtube"></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="footer__copyright-wrap footer__row row">
					<div class="footer__column col-7">
						<div class="footer__copyright small">© 2012-2023 United Nations Human Settlements Programme</div>
					</div>
					<div class="footer__column col-5">
						<a href="#" class="footer__link">Privacy Notice</a>
					</div>
				</div>
			</div>
			<div class="footer__column subscribe-wrap col-4">
				<div class="subscribe__title h3">Subscribe to our <br>newsletter to stay in touch with the latest.</div>
				<form class="subscribe subscribe_footer">
					<input class="subscribe__email" type="email" placeholder="E-mail address" title="Email">
					<input class="subscribe__submit" type="submit" value="" title="Submit" title="Submit">
				</form>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="container">
			<nav>
				<ul class="footer__bottom-nav">
					<li class="footer__bottom-item">
						<a class="footer__bottom-link" href="#">Who we are</a>
					</li>
					<li class="footer__bottom-item">
						<a class="footer__bottom-link" href="#">Where we are</a>
					</li>
					<li class="footer__bottom-item">
						<a class="footer__bottom-link" href="#">What we do</a>
					</li>
					<li class="footer__bottom-item">
						<a class="footer__bottom-link" href="#">Knowledge</a>
					</li>
					<li class="footer__bottom-item">
						<a class="footer__bottom-link" href="#">Events</a>
					</li>
					<li class="footer__bottom-item">
						<a class="footer__bottom-link" href="#">Get Involved</a>
					</li>
					<li class="footer__bottom-item">
						<a class="footer__bottom-link" href="#">Media</a>
					</li>
					<li class="footer__bottom-item">
						<a class="footer__bottom-link" href="#">Contacts</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</footer>

script(src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")
script(src="libs/flickity.pkgd.min.js")
script(src="libs/jquery-ui.min.js")
script(src="js/old/masonry.pkgd.min.js")
script(src="js/old/ui.js")
script(src="js/old/maintenance.js")