mixin projects
	.section.container.recommendation
		.section__header
			h2.h2.section__title Programmes and Projects
			a.section__link(href="#") see all
		.row
			a.recommendation__item(href="#")
				.recommendation__item-header
					.tag.tag_network.tag_large Network
				.recommendation__item-title.h4 Block by Block - Public Space Programme - Kosovo
			a.recommendation__item(href="#")
				.recommendation__item-header
					.tag.tag_network.tag_large Network
				.recommendation__item-title.h4 Urban Maestro
			a.recommendation__item(href="#")
				.recommendation__item-header
					.tag.tag_network.tag_large Network
				.recommendation__item-title.h4 Building Local Government Capacities in the Asian and the Pacific Region