extends ../components/header/header.pug

block content
	-
		var title = 'United Nations Habitat Assembly'
		var breadcrumbs = [
			{title: 'Who we are', url: '/'},
			{title: 'Governance', url: '/'},
			{title: 'UN-Habitat Assembly', url: '/'},
		]

	+breadcrumbs(breadcrumbs)

	<main>
		<article>
			<div class="page__header page__header_background page__header_slim">
				<div class="container">
					<div class="page__background page__background_bice-blue"></div>
					<h1 class="page__title hero">United Nations Habitat Assembly</h1>
				</div>
			</div>
			<div class="container">
				<div class="navigation tab-controls section row">
					<div class="navigation__item tab-controls__button col-3" data-target="overview" data-type="navigation">Overview</div>
					<div class="navigation__item tab-controls__button col-3" data-target="composition" data-type="navigation">Composition of the Bureau</div>
					<div class="navigation__item tab-controls__button col-3" data-target="meetings" data-type="navigation">Meetings of the Bureau</div>
					<div class="navigation__item tab-controls__button col-3" data-target="first-session" data-type="navigation">The first session of the UN-Habitat Assembly</div>
					<div class="navigation__item tab-controls__button col-3" data-target="second-session" data-type="navigation">The second session of the UN-Habitat Assembly</div>
					<div class="navigation__item tab-controls__button col-3" data-target="resumed" data-type="navigation">Resumed second session of UN-Habitat Assembly 2025</div>
					<div class="navigation__item tab-controls__button col-3" data-target="previous-session" data-type="navigation">Previous Sessions of the Governing Council</div>
					<div class="navigation__item tab-controls__button col-4" data-target="previous-session" data-type="navigation">Previous Sessions of the Governing Council</div>
					<div class="navigation__item tab-controls__button col-4" data-target="previous-session" data-type="navigation">Previous Sessions of the Governing Council</div>
					<div class="navigation__item tab-controls__button col-4" data-target="previous-session" data-type="navigation">Previous Sessions of the Governing Council</div>
				</div>
			</div>
			<div class="tab-content" data-target="overview" data-type="navigation">
				<div class="container">
					<div class="page__info section">
						<div class="page__info-item">
							<div class="col-4">
								<h2 class="section__title h2">Overview</h2>
								<a href="#" class="pdf-link">The Global Urban Lecture series is an initiative by UNI</a>
							</div>
							<div class="col-1"></div>
							<div class="col-7">
								<p>The Executive Board aims to increase the oversight of UN-Habitat operations by Member States and to strengthen UN-Habitat’s accountability, transparency and effectiveness. This body will ensure greater efficiency in decision-making, help to build trust and attract sufficient, sustainable and predictable funding. It comprises 36 member states elected by the UN-Habitat Assembly and convenes three times a year to undertake the following:</p>
								<p>i) Oversee the implementation of the normative and operational activities of UN-Habitat;</p>
								<p>ii) Ensure accountability, transparency, efficiency and effectiveness;</p>
								<p>iii) Approve and oversee the implementation of the annual programme of work and budget and of the resource mobilization strategy, in accordance with the strategic plans and the political guidelines provided by the UN-Habitat Assembly;</p>
								<p>iv) Adopt decisions, under its mandate, on, among other things, programmatic, operational and budgetary issues for the adequate and effective implementation of the resolutions and other decisions adopted by the UN-Habitat Assembly;</p>
								<p>v) Guide and support efforts to finance UN-Habitat;</p>
								<p>vi) Oversee the compliance of UN-Habitat with evaluations and support auditing functions;</p>
								<p>vii) Collaborate with the executive boards of other United Nations agencies, in accordance with the Secretary-General’s management reforms.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<section class="statements section">
						<h2 class="section__title h2">Rules of Procedure</h2>
						<div class="statements__item">
							<div class="statements__item-content">
								<div class="statements__item-date"><time>March 29, 2021</time></div>
								<div class="statements__item-title">
									<h4 class="h4">HSP/HA.1/HLS.3 - Rules of procedure of the Executive Board of the United Nations Human Settlements Programme</h4>
								</div>
								<div class="statements__item-download">
									<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Français</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">中文</a>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="container">
					<section class="statements section">
						<h2 class="section__title h2">Key Documents</h2>
						<div class="statements__item">
							<div class="statements__item-content">
								<div class="statements__item-date"><time>March 29, 2021</time></div>
								<div class="statements__item-title">
									<h4 class="h4">Resolution on International guidelines on people-centred smart cities</h4>
								</div>
								<div class="statements__item-download">
									<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Français</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">中文</a>
								</div>
							</div>
						</div>
						<div class="statements__item">
							<div class="statements__item-content">
								<div class="statements__item-date"><time>26 September 2023</time></div>
								<div class="statements__item-title">
									<h4 class="h4">Resolution on World Cleanup Day</h4>
								</div>
								<div class="statements__item-download">
									<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Français</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">中文</a>
								</div>
							</div>
						</div>
						<div class="statements__item">
							<div class="statements__item-content">
								<div class="statements__item-date"><time>March 29, 2021</time></div>
								<div class="statements__item-title">
									<h4 class="h4">Resolution on Localization of the Sustainable Development Goals</h4>
								</div>
								<div class="statements__item-download">
									<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Français</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">中文</a>
								</div>
							</div>
						</div>
						<div class="statements__item">
							<div class="statements__item-content">
								<div class="statements__item-date"><time>March 29, 2021</time></div>
								<div class="statements__item-title">
									<h4 class="h4">A/RES/73/239 General Assembly Resolution</h4>
								</div>
								<div class="statements__item-download">
									<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Français</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">中文</a>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="tab-content" data-target="first-session" data-type="navigation">
				<div class="container">
					<div class="tab-controls session-tabs">
						<button type="button" class="tab-controls__button years active" data-target="about" data-type="session">About</button>
						<button type="button" class="tab-controls__button years" data-target="documents" data-type="session">Documents</button>
						<button type="button" class="tab-controls__button years" data-target="statements" data-type="session">Statements</button>
						<button type="button" class="tab-controls__button years" data-target="press-centre" data-type="session">Press Centre</button>
						<button type="button" class="tab-controls__button years" data-target="urban-expo" data-type="session">Urban Expo</button>
						<button type="button" class="tab-controls__button years" data-target="side-events" data-type="session">Side Events</button>
						<button type="button" class="tab-controls__button years" data-target="sessions" data-type="session">Sessions</button>
						<button type="button" class="tab-controls__button years" data-target="field-visits" data-type="session">Field visits</button>
					</div>
				</div>
				<div class="tab-content active" data-target="about" data-type="session">
					<div class="container">
						<div class="page__info section">
							<div class="page__info-item">
								<div class="col-4">
									<h2 class="section__title h2">About</h2>
								</div>
								<div class="col-1"></div>
								<div class="col-7">
									<p>The second session of the United Nations Habitat Assembly will be held from 5 to 9 June 2023 in Nairobi. Kenya. The theme of the session is “A sustainable urban future through inclusive and effective multilateralism: achieving the Sustainable Development Goals in times of global crises.”</p>
									<p>As the governance body of the United Nations Human Settlements Programme (UN-Habitat), the United Nations Habitat Assembly convenes every four years. It is the highest global decision-making body on sustainable urbanization and human settlements.</p>
									<p>The 193 UN Member States cast the votes, while participants include non-Member States, other UN bodies and specialized agencies, as well as intergovernmental organizations, civil society, private sector, academia and research institutions, women, youth and children, and grassroots organizations.</p>
									<p>Thematic debates and discussions during the Assembly will focus on the following topics: Universal access to affordable housing: Member States are encouraged to explore mechanisms to achieve the universal right to adequate housing and move towards removing existing barriers to affordable housing.</p>
									<p>Urban climate action: to achieve the global commitment to stay within 1.5˚C limit on rising temperatures by 2030, Member States are encouraged to explore realistic urban pathways for climate action.</p>
									<p>Urban crises recovery: current crises are increasingly more urban, with cities very often serving as the main places of arrival for displaced people. Member States are encouraged to empower cities to respond to urban crises and support national recovery efforts.</p>
									<p>Localization of the SDGs: the Assembly will look at local actions needed to advance the implementation of SDGs to meet the 2030 Development Agenda targets. Member States will also be invited to explore financial mechanisms to ensure resources are directed toward urban development and reach local levels.</p>
									<p>Prosperity and local finance: to accelerate the achievement of Sustainable Development Goals, respond to urban crises, advance urban climate action, and ensure adequate and affordable housing for all, cities need policies and fiscal resources. Member States are invited to explore policies and market mechanisms to ensure financial flows directed towards urban development and reach local levels. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<section class="statements statements_accordion section">
							<button type="button" class="statements__toggler"></button>
							<h3 class="section__title h3">Related documents</h3>
							<div class="statements__item">
								<div class="statements__item-content">
									<div class="statements__item-title">
										<h4 class="h4">Notification by the Executive Director on the second session of the United Nations Habitat Assembly of the United Nations Human Settlements Programme</h4>
									</div>
									<div class="statements__item-download">
										<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
										<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
										<a href="#" class="statements__item-button button button_download button_small button_black">Français</a>
										<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
										<a href="#" class="statements__item-button button button_download button_small button_black">中文</a>
									</div>
								</div>
							</div>
							<div class="statements__accordion">
								<div class="statements__item">
									<div class="statements__item-content">
										<div class="statements__item-title">
											<h4 class="h4">Notification by the Executive Director on the second session of the United Nations Habitat Assembly of the United Nations Human Settlements Programme</h4>
										</div>
										<div class="statements__item-download">
											<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
											<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
											<a href="#" class="statements__item-button button button_download button_small button_black">Français</a>
											<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
											<a href="#" class="statements__item-button button button_download button_small button_black">中文</a>
										</div>
									</div>
								</div>
								<div class="statements__item">
									<div class="statements__item-content">
										<div class="statements__item-title">
											<h4 class="h4">Notification by the Executive Director on the second session of the United Nations Habitat Assembly of the United Nations Human Settlements Programme</h4>
										</div>
										<div class="statements__item-download">
											<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
											<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
											<a href="#" class="statements__item-button button button_download button_small button_black">Français</a>
											<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
											<a href="#" class="statements__item-button button button_download button_small button_black">中文</a>
										</div>
									</div>
								</div>
								<div class="statements__item">
									<div class="statements__item-content">
										<div class="statements__item-title">
											<h4 class="h4">Notification by the Executive Director on the second session of the United Nations Habitat Assembly of the United Nations Human Settlements Programme</h4>
										</div>
										<div class="statements__item-download">
											<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
											<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
											<a href="#" class="statements__item-button button button_download button_small button_black">Français</a>
											<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
											<a href="#" class="statements__item-button button button_download button_small button_black">中文</a>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="container">
						<section class="registration section">
							<h3 class="registration__title h3">Registration</h3>
							<div class="row">
								<div class="col-7">
									<p>On-site accreditation and badging for both the UN-Habitat Assembly and the OECPR will open at the Pass & ID office (entrance via Visitors Pavilion) UNON Complex on the following dates:</p>
								</div>
							</div>
							<div class="registration__items">
								<div class="registration__item">
									<div class="registration__date h2">1</div>
									<div class="registration__month small">May</div>
									<div class="registration__time h5"><time datetime="">9:00-17:00</time></div>
									<div class="registration__time-zone small">East Africa Time (EAT)</div>
								</div>
								<div class="registration__item">
									<div class="registration__date h2">29</div>
									<div class="registration__month small">May</div>
									<div class="registration__time h5"><time datetime="">8:00-16:00</time></div>
									<div class="registration__time-zone small">East Africa Time (EAT)</div>
								</div>
								<div class="registration__item">
									<div class="registration__date h2">30</div>
									<div class="registration__month small">May</div>
									<div class="registration__time h5"><time datetime="">8:00-16:00</time></div>
									<div class="registration__time-zone small">East Africa Time (EAT)</div>
								</div>
								<div class="registration__item">
									<div class="registration__date h2">31</div>
									<div class="registration__month small">May</div>
									<div class="registration__time h5"><time datetime="">8:00-16:00</time></div>
									<div class="registration__time-zone small">East Africa Time (EAT)</div>
								</div>
								<div class="registration__item registration__item_current">
									<div class="registration__date h2">1</div>
									<div class="registration__month small">May</div>
									<div class="registration__description small">Closed for the Madaraka Public Holiday</div>
								</div>
								<div class="registration__item">
									<div class="registration__date h2">2</div>
									<div class="registration__month small">May</div>
									<div class="registration__time h5"><time datetime="">8:00-16:00</time></div>
									<div class="registration__time-zone small">East Africa Time (EAT)</div>
								</div>
								<div class="registration__item">
									<div class="registration__date h2">3</div>
									<div class="registration__month small">May</div>
									<div class="registration__time h5"><time datetime="">9:00-17:00</time></div>
									<div class="registration__time-zone small">East Africa Time (EAT)</div>
								</div>
								<div class="registration__item">
									<div class="registration__date h2">4</div>
									<div class="registration__month small">May</div>
									<div class="registration__time h5"><time datetime="">9:00-17:00</time></div>
									<div class="registration__time-zone small">East Africa Time (EAT)</div>
								</div>
								<div class="registration__item">
									<div class="registration__date h2">5</div>
									<div class="registration__month small">May</div>
									<div class="registration__time h5"><time datetime="">7:00-16:00</time></div>
									<div class="registration__time-zone small">East Africa Time (EAT)</div>
								</div>
								<div class="registration__item">
									<div class="registration__date h2">6</div>
									<div class="registration__month small">May</div>
									<div class="registration__time h5"><time datetime="">7:00-16:00</time></div>
									<div class="registration__time-zone small">East Africa Time (EAT)</div>
								</div>
								<div class="registration__item">
									<div class="registration__date h2">7</div>
									<div class="registration__month small">May</div>
									<div class="registration__time h5"><time datetime="">7:00-16:00</time></div>
									<div class="registration__time-zone small">East Africa Time (EAT)</div>
								</div>
								<div class="registration__item">
									<div class="registration__date h2">8</div>
									<div class="registration__month small">May</div>
									<div class="registration__time h5"><time datetime="">7:00-16:00</time></div>
									<div class="registration__time-zone small">East Africa Time (EAT)</div>
								</div>
								<div class="registration__item">
									<div class="registration__date h2">9</div>
									<div class="registration__month small">May</div>
									<div class="registration__time h5">8:00-14:00</div>
									<div class="registration__time-zone small">East Africa Time (EAT)</div>
								</div>
							</div>
						</section>
					</div>
				</div>
				<div class="tab-content" data-target="side-events" data-type="session">
					<div class="container">
						<section class="side-events">
							<div class="side-events__title h3">Programme</div>
							<a href="#" class="pdf-link">Programme</a>
							<div class="side-events__wrap">
								<div class="side-events__row row">
									<div class="col-3">
										<div class="side-events__info">
											<div class="side-events__day h3">Day 1</div>
											<div class="side-events__description small">Some short description</div>
											<div class="side-events__date"><time datetime="">Monday, 5 June 2023</time></div>
										</div>
									</div>
									<div class="col-9">
										<div class="side-events__items">
											<div class="side-events__item">
												<div class="side-events__item-header">
													<div class="side-events__item-title h5">Conference room 6</div>
													<div class="side-events__item-time">13:15 - 14:15</div>
												</div>
												<div class="side-events__item-footer">
													<div class="side-events__item-description">
														<p>The Multiple Voices in Urban Migration Contexts: Linking Spatial Planning to Financing Opportunities </p>
													</div>
													<div class="tag tag_event tag_small">Side Event 1</div>
												</div>
											</div>
											<div class="side-events__item">
												<div class="side-events__item-header">
													<div class="side-events__item-title h5">Conference room 6</div>
													<div class="side-events__item-time">13:15 - 14:15</div>
												</div>
												<div class="side-events__item-footer">
													<div class="side-events__item-description">
														<p>The Multiple Voices in Urban Migration Contexts: Linking Spatial Planning to Financing Opportunities </p>
													</div>
													<div class="tag tag_event tag_small">Side Event 1</div>
												</div>
											</div>
											<div class="side-events__item">
												<div class="side-events__item-header">
													<div class="side-events__item-title h5">Conference room 6</div>
													<div class="side-events__item-time">13:15 - 14:15</div>
												</div>
												<div class="side-events__item-footer">
													<div class="side-events__item-description">
														<p>The Multiple Voices in Urban Migration Contexts: Linking Spatial Planning to Financing Opportunities </p>
													</div>
													<div class="tag tag_event tag_small">Side Event 1</div>
												</div>
											</div>
											<div class="side-events__item">
												<div class="side-events__item-header">
													<div class="side-events__item-title h5">Conference room 6</div>
													<div class="side-events__item-time">13:15 - 14:15</div>
												</div>
												<div class="side-events__item-footer">
													<div class="side-events__item-description">
														<p>The Multiple Voices in Urban Migration Contexts: Linking Spatial Planning to Financing Opportunities </p>
													</div>
													<div class="tag tag_event tag_small">Side Event 1</div>
												</div>
											</div>
											<div class="side-events__item">
												<div class="side-events__item-header">
													<div class="side-events__item-title h5">Conference room 6</div>
													<div class="side-events__item-time">13:15 - 14:15</div>
												</div>
												<div class="side-events__item-footer">
													<div class="side-events__item-description">
														<p>The Multiple Voices in Urban Migration Contexts: Linking Spatial Planning to Financing Opportunities </p>
													</div>
													<div class="tag tag_event tag_small">Side Event 1</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="side-events__row row">
									<div class="col-3">
										<div class="side-events__info">
											<div class="side-events__day h3">Day 2</div>
											<div class="side-events__description small">Some short description</div>
											<div class="side-events__date"><time datetime="">Monday, 5 June 2023</time></div>
										</div>
									</div>
									<div class="col-9">
										<div class="side-events__items">
											<div class="side-events__item">
												<div class="side-events__item-header">
													<div class="side-events__item-title h5">Conference room 6</div>
													<div class="side-events__item-time">13:15 - 14:15</div>
												</div>
												<div class="side-events__item-footer">
													<div class="side-events__item-description">
														<p>The Multiple Voices in Urban Migration Contexts: Linking Spatial Planning to Financing Opportunities </p>
													</div>
													<div class="tag tag_event tag_small">Side Event 1</div>
												</div>
											</div>
											<div class="side-events__item">
												<div class="side-events__item-header">
													<div class="side-events__item-title h5">Conference room 6</div>
													<div class="side-events__item-time">13:15 - 14:15</div>
												</div>
												<div class="side-events__item-footer">
													<div class="side-events__item-description">
														<p>The Multiple Voices in Urban Migration Contexts: Linking Spatial Planning to Financing Opportunities </p>
													</div>
													<div class="tag tag_event tag_small">Side Event 1</div>
												</div>
											</div>
											<div class="side-events__item">
												<div class="side-events__item-header">
													<div class="side-events__item-title h5">Conference room 6</div>
													<div class="side-events__item-time">13:15 - 14:15</div>
												</div>
												<div class="side-events__item-footer">
													<div class="side-events__item-description">
														<p>The Multiple Voices in Urban Migration Contexts: Linking Spatial Planning to Financing Opportunities </p>
													</div>
													<div class="tag tag_event tag_small">Side Event 1</div>
												</div>
											</div>
											<div class="side-events__item">
												<div class="side-events__item-header">
													<div class="side-events__item-title h5">Conference room 6</div>
													<div class="side-events__item-time">13:15 - 14:15</div>
												</div>
												<div class="side-events__item-footer">
													<div class="side-events__item-description">
														<p>The Multiple Voices in Urban Migration Contexts: Linking Spatial Planning to Financing Opportunities </p>
													</div>
													<div class="tag tag_event tag_small">Side Event 1</div>
												</div>
											</div>
											<div class="side-events__item">
												<div class="side-events__item-header">
													<div class="side-events__item-title h5">Conference room 6</div>
													<div class="side-events__item-time">13:15 - 14:15</div>
												</div>
												<div class="side-events__item-footer">
													<div class="side-events__item-description">
														<p>The Multiple Voices in Urban Migration Contexts: Linking Spatial Planning to Financing Opportunities </p>
													</div>
													<div class="tag tag_event tag_small">Side Event 1</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="side-events__row row">
									<div class="col-3">
										<div class="side-events__info">
											<div class="side-events__day h3">Day 3</div>
											<div class="side-events__description small">Some short description</div>
											<div class="side-events__date"><time datetime="">Monday, 5 June 2023</time></div>
										</div>
									</div>
									<div class="col-9">
										<div class="side-events__items">
											<div class="side-events__item">
												<div class="side-events__item-header">
													<div class="side-events__item-title h5">Conference room 6</div>
													<div class="side-events__item-time">13:15 - 14:15</div>
												</div>
												<div class="side-events__item-footer">
													<div class="side-events__item-description">
														<p>The Multiple Voices in Urban Migration Contexts: Linking Spatial Planning to Financing Opportunities </p>
													</div>
													<div class="tag tag_event tag_small">Side Event 1</div>
												</div>
											</div>
											<div class="side-events__item">
												<div class="side-events__item-header">
													<div class="side-events__item-title h5">Conference room 6</div>
													<div class="side-events__item-time">13:15 - 14:15</div>
												</div>
												<div class="side-events__item-footer">
													<div class="side-events__item-description">
														<p>The Multiple Voices in Urban Migration Contexts: Linking Spatial Planning to Financing Opportunities </p>
													</div>
													<div class="tag tag_event tag_small">Side Event 1</div>
												</div>
											</div>
											<div class="side-events__item">
												<div class="side-events__item-header">
													<div class="side-events__item-title h5">Conference room 6</div>
													<div class="side-events__item-time">13:15 - 14:15</div>
												</div>
												<div class="side-events__item-footer">
													<div class="side-events__item-description">
														<p>The Multiple Voices in Urban Migration Contexts: Linking Spatial Planning to Financing Opportunities </p>
													</div>
													<div class="tag tag_event tag_small">Side Event 1</div>
												</div>
											</div>
											<div class="side-events__item">
												<div class="side-events__item-header">
													<div class="side-events__item-title h5">Conference room 6</div>
													<div class="side-events__item-time">13:15 - 14:15</div>
												</div>
												<div class="side-events__item-footer">
													<div class="side-events__item-description">
														<p>The Multiple Voices in Urban Migration Contexts: Linking Spatial Planning to Financing Opportunities </p>
													</div>
													<div class="tag tag_event tag_small">Side Event 1</div>
												</div>
											</div>
											<div class="side-events__item">
												<div class="side-events__item-header">
													<div class="side-events__item-title h5">Conference room 6</div>
													<div class="side-events__item-time">13:15 - 14:15</div>
												</div>
												<div class="side-events__item-footer">
													<div class="side-events__item-description">
														<p>The Multiple Voices in Urban Migration Contexts: Linking Spatial Planning to Financing Opportunities </p>
													</div>
													<div class="tag tag_event tag_small">Side Event 1</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
			<div class="tab-content" data-target="second-session" data-type="navigation">
				<div class="container">
					<div class="page__info section">
						<div class="page__info-item">
							<div class="col-4">
								<h2 class="section__title h2">Overview</h2>
								<a href="#" class="pdf-link">The Report of the first Session</a>
								<div class="page__info-thumbnail">
									<img src="img/photos/assembly.jpg" alt="">
								</div>
							</div>
							<div class="col-1"></div>
							<div class="col-7">
								<p>The first session of the UN-Habitat Assembly took place from 27–31 May 2019, at the headquarters of UN-Habitat in Nairobi. During the first session, the Assembly adopted its rules of procedure and endorsed the rules of procedure of the Executive Board. Five resolutions were adopted, covering a range of topics, including on: safer cities; capacity building for implementing the New Urban Agenda; achieving gender equality through UN-Habitat’s work to support inclusive, safe, resilient and sustainable cities and human settlements; enhancing urban rural linkages for sustainable urbanization, and on UN-Habitat’s Strategic Plan 2020–2023. In addition, the Assembly also adopted a decision on transitional arrangements towards the new governance structure of UN-Habitat. The Assembly concluded its five days of discussions with a Ministerial Declaration recognizing that the unprecedented rate of urbanization constitutes both a challenge and an opportunity. The report of the first session of the UN-Habitat Assembly can be found here.</p>
								<a href="#" class="page__info-button button">Learn more</a>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<section class="statements section">
						<h3 class="section__title h3">Related documents</h3>
						<div class="statements__item">
							<div class="statements__item-content">
								<div class="statements__item-title">
									<h4 class="h4">Figma ipsum component variant main layer. Background community figma polygon scrolling blur link italic thumbnail.</h4>
								</div>
								<div class="statements__item-download">
									<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Français</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">中文</a>
								</div>
							</div>
						</div>
						<div class="statements__item">
							<div class="statements__item-content">
								<div class="statements__item-title">
									<h4 class="h4">Figma ipsum component variant main layer. Background community figma polygon scrolling blur link italic thumbnail.</h4>
								</div>
								<div class="statements__item-download">
									<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Français</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">中文</a>
								</div>
							</div>
						</div>
						<div class="statements__item">
							<div class="statements__item-content">
								<div class="statements__item-title">
									<h4 class="h4">Figma ipsum component variant main layer. Background community figma polygon scrolling blur link italic thumbnail.</h4>
								</div>
								<div class="statements__item-download">
									<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Français</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">中文</a>
								</div>
							</div>
						</div>
						<div class="statements__item">
							<div class="statements__item-content">
								<div class="statements__item-title">
									<h4 class="h4">Figma ipsum component variant main layer. Background community figma polygon scrolling blur link italic thumbnail.</h4>
								</div>
								<div class="statements__item-download">
									<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Français</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">中文</a>
								</div>
							</div>
						</div>
						<div class="statements__item">
							<div class="statements__item-content">
								<div class="statements__item-title">
									<h4 class="h4">Figma ipsum component variant main layer. Background community figma polygon scrolling blur link italic thumbnail.</h4>
								</div>
								<div class="statements__item-download">
									<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Français</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">中文</a>
								</div>
							</div>
						</div>
						<div class="statements__item">
							<div class="statements__item-content">
								<div class="statements__item-title">
									<h4 class="h4">Figma ipsum component variant main layer. Background community figma polygon scrolling blur link italic thumbnail.</h4>
								</div>
								<div class="statements__item-download">
									<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Français</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">中文</a>
								</div>
							</div>
						</div>
						<div class="statements__item">
							<div class="statements__item-content">
								<div class="statements__item-title">
									<h4 class="h4">Figma ipsum component variant main layer. Background community figma polygon scrolling blur link italic thumbnail.</h4>
								</div>
								<div class="statements__item-download">
									<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Français</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">中文</a>
								</div>
							</div>
						</div>
						<div class="statements__item">
							<div class="statements__item-content">
								<div class="statements__item-title">
									<h4 class="h4">Figma ipsum component variant main layer. Background community figma polygon scrolling blur link italic thumbnail.</h4>
								</div>
								<div class="statements__item-download">
									<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Français</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">中文</a>
								</div>
							</div>
						</div>
						<div class="statements__item">
							<div class="statements__item-content">
								<div class="statements__item-title">
									<h4 class="h4">Figma ipsum component variant main layer. Background community figma polygon scrolling blur link italic thumbnail.</h4>
								</div>
								<div class="statements__item-download">
									<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">Français</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
									<a href="#" class="statements__item-button button button_download button_small button_black">中文</a>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</article>
	</main>