extends ../components/header/header.pug
include ../components/breadcrumbs/breadcrumbs.pug
include ../components/page-header/page-header.pug
include ../components/calls/calls.pug

block content
	-
		var title = 'Calls for proposals'
		var breadcrumbs = [
			{title: 'Get Involved', url: '/'},
			{title: 'Join us', url: '/'},
			{title: title, url: ''}
		]
		var calls = require('../data/calls.json')
		var showMore = true

	+breadcrumbs(breadcrumbs)
	main
		article
			+page-header(title)
		+calls(calls, showMore)