extends ../components/header/header.pug

block content
	-
		var title = 'Careers'
		var breadcrumbs = [
			{title: 'Get Involved', url: '/'},
			{title: 'Careers', url: ''}
		]
		var links = [
			{title: 'Openings', url: 'careers.html'},
			{title: 'United Nations Volunteers', url: 'volunteers.html'},
			{title: 'Junior professional officers', url: 'officers.html'}
		]
		var related = {
			title: 'Career categories',
			category: 'Category'
		}
		var jobs = [
			'Regional Office For Arab States',
			'Global Reports And Trends Unit, External Relations, Strategy, Knowledge And Innovation Division',
			'Management And Operations Division',
			'Office For Europe And European Institutions',
			'Un-Habitat Office In Geneva, Office Of The Executive Director'
		]
		var contactsLeft = {
			title: 'Contact',
			text: 'Are you a journalist interested in UN-Habitat? Contact our communications team.',
			personName: 'Peter Folsberg',
			personPost: 'HR officer',
			email: 'peterfolsberg@un.org'
		}
		var contactsRight = {
			title: 'Social Media',
			text: 'Connect with us on Social Media for the latest developments in sustainable urbanization'
		}
		var social = true

	+breadcrumbs(breadcrumbs)

	main
		article
			+page-header(title)
			+page-navigation(links)

			section.section
				.container
					h2.h2.mb-32 Work with us
					.row
						.col-7
							p Vulputate sit enim dui urna nulla egestas vitae enim. Netus at tristique metus dis nunc eu nisi feugiat. Eget nunc euismod a donec consequat eget blandit. Nulla dolor aliquam massa vitae viverra quisque. Enim egestas nunc nunc sit ullamcorper tristique interdum morbi. Pretium dolor morbi pulvinar in donec. Erat amet nisi praesent quis vel rutrum elementum.
							p Massa lectus feugiat tristique etiam mattis proin facilisis. Commodo vivamus eget urna aliquam quis. Eu cursus sit et adipiscing in. Lacus fames risus viverra sit blandit est amet sit sed. Id sollicitudin elit orci semper nulla dignissim diam. Placerat quis vulputate elementum eros vel amet.

		+related-material(related)
		+job-list(jobs)
		+contacts(contactsLeft, contactsRight, social)