extends ../components/header/header.pug

block content
	-
		var title = 'Lebanon'
		var breadcrumbs = [
			{title: 'Where we are', url: '/'},
			{title: 'Arab States Region', url: '/'},
			{title: title, url: ''},
		]

	+breadcrumbs(breadcrumbs)

	<main>
		<article>
			<div class="page__header page__header_background">
				<div class="container">
					<div class="page__background">
						<video class="page__video" autoplay muted playsinline loop>
							<source src="img/videos/lebanon.mp4" type="video/mp4">
							<source src="img/videos/lebanon.webm" type="video/webm">
						</video>
					</div>
					<h1 class="hero">Lebanon</h1>
					<h2 class="page__subtitle h2">Programme offices</h2>
				</div>
			</div>
			<div class="container">
				<div class="page__info section">
					<div class="page__info-item">
						<div class="row">
							<div class="col-5">
								<h2 class="h2">Overview</h2>
							</div>
							<div class="col-7">
								<p>Since 1996, UN-Habitat is based in Rio de Janeiro, Brazil, with its Regional Office for Latin America and the Caribbean. Since 1996, UN-Habitat’s role has been to support sustainable urban development and right to housing in Brazil, as well as to disseminate the Sustainable Development Goals (SDGs) and the principles of the New Urban Agenda. For over 20 years, the office in Brazil has been implementing projects promoted and funded by international donors and/or the beneficiaries themselves in a broad range of areas: informal settlements, sustainable energy, mobility, urban planning, open data, climate action, public spaces, urban indicators, urban legislation, youth, resilience, urban services and others.</p>
							</div>
						</div>
					</div>
					<div class="page__info-item">
						<div class="row">
							<div class="col-5">
								<h2 class="h2">Challenges</h2>
							</div>
							<div class="col-7">
								<p>Quam scelerisque fringilla feugiat sit eleifend consectetur erat. Consectetur scelerisque quis nunc est nibh morbi tempus suspendisse arcu. Nibh ultrices imperdiet augue nulla. Quam pellentesque arcu lectus habitant at placerat ipsum pulvinar arcu. Consectetur magna quis tristique venenatis imperdiet arcu. Nulla ut eu egestas arcu.</p>
								<p>Suspendisse quam amet ut diam nulla lectus pellentesque. Morbi dui pretium pulvinar nisl lobortis purus. Arcu sollicitudin id gravida morbi tincidunt. Euismod in montes pellentesque nisl ornare enim. Sollicitudin neque in amet et enim aliquam. Eget velit volutpat lectus pretium vitae fusce tellus. Sed mi nisi eget eu tortor a. Interdum magnis massa hac lacus pellentesque nibh. Ullamcorper mi at tincidunt cras tellus urna. Odio varius pretium odio.</p>
							</div>
						</div>
					</div>
					<div class="page__info-item">
						<div class="row">
							<div class="col-5">
								<h2 class="h2">Profile</h2>
							</div>
							<div class="col-7">
								<p>Massa augue nulla at consectetur sit enim nisl tristique. Enim turpis non integer et in dictum sed morbi adipiscing. Dictumst ultrices amet ut purus eleifend in volutpat. Ultricies nullam diam lectus vel tortor montes scelerisque phasellus. Accumsan viverra ipsum bibendum tempor quis et egestas nulla egestas. Non semper proin elementum viverra quam integer tellus iaculis. Ornare praesent et mattis eleifend metus. Enim quam vel vitae interdum morbi neque dignissim. Diam sed hac nisl elementum egestas id egestas nascetur sagittis. Maecenas in nunc cras imperdiet sodales ante diam. Nisi ullamcorper dapibus interdum neque fermentum cum ultrices sed. Amet est viverra consectetur a volutpat in massa tincidunt. Et tincidunt commodo nibh odio mattis.</p>
								<a href="#" class="page__info-button button">Download</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="page__stats section">
					<div class="page__stats-row">
						<img class="page__stats-image" src="img/photos/stats-1.svg" alt="">
						<img class="page__stats-image" src="img/photos/stats-2.svg" alt="">
					</div>
					<div class="page__stats-row">
						<img class="page__stats-image" src="img/photos/stats-3.svg" alt="">
						<img class="page__stats-image" src="img/photos/stats-4.svg" alt="">
					</div>
				</div>
			</div>
		</article>
		<div class="container">
			<section class="work section">
				<h2 class="section__title h2">Our Work</h2>
				<div class="work__row">
					<a href="#" class="work__item">
						<article>
							<div class="work__item-header">
								<div class="tag tag_large tag_network">Network</div>
							</div>
							<div class="work__item-content">
								<h4 class="work__item-title h4">Heading</h4>
								<p>General update on the status of preparations for the second session of the United Nations Habitat Assembly including status of draft resolutions.</p>
							</div>
						</article>
					</a>
					<a href="#" class="work__item">
						<article>
							<div class="work__item-header">
								<div class="tag tag_large tag_project">Project</div>
							</div>
							<div class="work__item-content">
								<h4 class="work__item-title h4">Heading</h4>
								<p>General update on the status of preparations for the second session of the United Nations Habitat Assembly including status of draft resolutions.</p>
							</div>
						</article>
					</a>
					<a href="#" class="work__item">
						<article>
							<div class="work__item-header">
								<div class="tag tag_large tag_initiative">Initiative</div>
							</div>
							<div class="work__item-content">
								<h4 class="work__item-title h4">Heading</h4>
								<p>General update on the status of preparations for the second session of the United Nations Habitat Assembly including status of draft resolutions.</p>
							</div>
						</article>
					</a>
					<a href="#" class="work__item">
						<article>
							<div class="work__item-header">
								<div class="tag tag_large tag_tools">Tools</div>
							</div>
							<div class="work__item-content">
								<h4 class="work__item-title h4">Heading</h4>
								<p>General update on the status of preparations for the second session of the United Nations Habitat Assembly including status of draft resolutions.</p>
							</div>
						</article>
					</a>
					<a href="#" class="work__item">
						<article>
							<div class="work__item-header">
								<div class="tag tag_large tag_guidance">Guidance</div>
							</div>
							<div class="work__item-content">
								<h4 class="work__item-title h4">Heading</h4>
								<p>General update on the status of preparations for the second session of the United Nations Habitat Assembly including status of draft resolutions.</p>
							</div>
						</article>
					</a>
					<a href="#" class="work__item">
						<article>
							<div class="work__item-header">
								<div class="tag tag_large tag_event">Event</div>
							</div>
							<div class="work__item-content">
								<h4 class="work__item-title h4">Heading</h4>
								<p>General update on the status of preparations for the second session of the United Nations Habitat Assembly including status of draft resolutions.</p>
							</div>
						</article>
					</a>
				</div>
				<a href="#" class="show-more">
					<div class="button show-more__button">Show more</div>
				</a>
			</section>
		</div>
		<div class="container">
			<section class="news-section section">
				<div class="section__header">
					<h2 class="section__title h2">News</h2>
					<a href="#" class="section__link">see all</a>
				</div>
				<div class="row">
					<a href="#" class="news-section__item col-3">
						<article>
							<div class="news-section__item-thumbnail" style="background-image: url('../img/photos/news-3.jpg')"></div>
							<div class="news-section__item-date small">12 February, 2024</div>
							<h4 class="news-section__item-title h4">Cities take centre stage in climate change</h4>
						</article>
					</a>
					<a href="#" class="news-section__item col-3">
						<article>
							<div class="news-section__item-thumbnail" style="background-image: url('../img/photos/news-4.jpg')"></div>
							<div class="news-section__item-date small">12 February, 2024</div>
							<h4 class="news-section__item-title h4">Supporting sustainable urban recovery in Ukraine</h4>
						</article>
					</a>
					<a href="#" class="news-section__item col-3">
						<article>
							<div class="news-section__item-thumbnail" style="background-image: url('../img/photos/news-5.jpg')"></div>
							<div class="news-section__item-date small">12 February, 2024</div>
							<h4 class="news-section__item-title h4">Unconventional water sources a way to fight water scarcity in Lebanon</h4>
						</article>
					</a>
					<a href="#" class="news-section__item col-3">
						<article>
							<div class="news-section__item-thumbnail" style="background-image: url('../img/photos/news-6.jpg')"></div>
							<div class="news-section__item-date small">12 February, 2024</div>
							<h4 class="news-section__item-title h4">The housing crisis is a symptom of global policy failure</h4>
						</article>
					</a>
				</div>
			</section>
		</div>
		<div class="container">
			<section class="news-section section">
				<div class="section__header">
					<h2 class="section__title h2">Stories</h2>
					<a href="#" class="section__link">see all</a>
				</div>
				<div class="row">
					<a href="#" class="news-section__item col-3">
						<article>
							<div class="news-section__item-thumbnail" style="background-image: url('../img/photos/news-7.jpg')"></div>
							<div class="news-section__item-date small">12 February, 2024</div>
							<h4 class="news-section__item-title h4">Building resilience in Tajikistan through innovations</h4>
						</article>
					</a>
					<a href="#" class="news-section__item col-3">
						<article>
							<div class="news-section__item-thumbnail" style="background-image: url('../img/photos/news-8.jpg')"></div>
							<div class="news-section__item-date small">12 February, 2024</div>
							<h4 class="news-section__item-title h4">2023 Global Refugee Forum: Join the pledges</h4>
						</article>
					</a>
					<a href="#" class="news-section__item col-3">
						<article>
							<div class="news-section__item-thumbnail" style="background-image: url('../img/photos/news-9.jpg')"></div>
							<div class="news-section__item-date small">12 February, 2024</div>
							<h4 class="news-section__item-title h4">Away from crises: Creating safe and inspiring spaces for children and families in Lebanon</h4>
						</article>
					</a>
					<a href="#" class="news-section__item col-3">
						<article>
							<div class="news-section__item-thumbnail" style="background-image: url('../img/photos/news-10.jpg')"></div>
							<div class="news-section__item-date small">12 February, 2024</div>
							<h4 class="news-section__item-title h4">Why economic empowerment matters in preventing violence against women in cities</h4>
						</article>
					</a>
				</div>
			</section>
		</div>
		<div class="container">
			<section class="highlighted section">
				<div class="section__header">
					<h2 class="section__title h2">Highlighted publications</h2>
					<a href="#" class="section__link">see all</a>
				</div>
				<div class="highlighted__row">
					<article class="highlighted__item">
						<div class="highlighted__item-header">
							<div class="highlighted__item-thumbnail" style="background-image: url('../img/photos/highlighted-1.jpg')"></div>
						</div>
						<h5 class="highlighted__item-title h5">Sustainable Urbanization in Commonwealth Countries</h5>
						<div class="highlighted__item-links">
							<a href="#" class="highlighted__item-link button button_download button_small button_black">Download</a>
							<a href="#" class="highlighted__item-link button button_small">Read more</a>
						</div>
					</article>
					<article class="highlighted__item">
						<div class="highlighted__item-header">
							<div class="highlighted__item-category">Summary Report</div>
							<div class="highlighted__item-thumbnail" style="background-image: url('../img/photos/highlighted-2.jpg')"></div>
						</div>
						<h5 class="highlighted__item-title h5">Ministerial meeting on Urbanization and Climate Change at COP28 Summary Report</h5>
						<div class="highlighted__item-links">
							<a href="#" class="highlighted__item-link button button_download button_small button_black">Download</a>
							<a href="#" class="highlighted__item-link button button_small">Read more</a>
						</div>
					</article>
					<article class="highlighted__item">
						<div class="highlighted__item-header">
							<div class="highlighted__item-category">Analysis</div>
							<div class="highlighted__item-thumbnail" style="background-image: url('../img/photos/highlighted-3.jpg')"></div>
						</div>
						<h5 class="highlighted__item-title h5">Heritopolis working papers – Volume 1</h5>
						<div class="highlighted__item-links">
							<a href="#" class="highlighted__item-link button button_download button_small button_black">Download</a>
							<a href="#" class="highlighted__item-link button button_small">Read more</a>
						</div>
					</article>
					<article class="highlighted__item">
						<div class="highlighted__item-header">
							<div class="highlighted__item-category">TOOLKITS, MANUALS AND GUIDES</div>
							<div class="highlighted__item-thumbnail" style="background-image: url('../img/photos/highlighted-4.jpg')"></div>
						</div>
						<h5 class="highlighted__item-title h5">Global Public Space Toolkit: From Global Principles to Local Policies and Practice</h5>
						<div class="highlighted__item-links">
							<a href="#" class="highlighted__item-link button button_download button_small button_black">Download</a>
							<a href="#" class="highlighted__item-link button button_small">Read more</a>
						</div>
					</article>
				</div>
			</section>
		</div>
		<div class="container">
			<?php include 'sections/events.php' ?>
		</div>
		<div class="container">
			<section class="partners">
				<h2 class="partners__title h2">Donors and partners</h2>
				<div class="partners__row">
					<a href="#" class="partners__item col-4">
						<article>
							<div class="partners__item-content">
								<h4 class="h4">Arcadis</h4>
								<p>Vel ut dictum sit egestas tellus sed. Lacus lorem at dictum aliquam vitae sed habitasse morbi. Dui ut.</p>
							</div>
						</article>
					</a>
					<a href="#" class="partners__item col-4">
						<article>
							<div class="partners__item-content">
								<h4 class="h4">International Urban Training Center</h4>
								<p>Vel ut dictum sit egestas tellus sed. Lacus lorem at dictum aliquam vitae sed habitasse morbi. Dui ut.</p>
							</div>
						</article>
					</a>
					<a href="#" class="partners__item col-4">
						<article>
							<div class="partners__item-content">
								<h4 class="h4">Institute for Housing and Urban Development Studies</h4>
								<p>Vel ut dictum sit egestas tellus sed. Lacus lorem at dictum aliquam vitae sed habitasse morbi. Dui ut.</p>
							</div>
						</article>
					</a>
					<a href="#" class="partners__item col-4">
						<article>
							<div class="partners__item-content">
								<h4 class="h4">Centre for Liveable Cities Singapore</h4>
								<p>Vel ut dictum sit egestas tellus sed. Lacus lorem at dictum aliquam vitae sed habitasse morbi. Dui ut.</p>
							</div>
						</article>
					</a>
					<a href="#" class="partners__item col-4">
						<article>
							<div class="partners__item-content">
								<h4 class="h4">Lincoln Institute of Land Policy</h4>
								<p>Vel ut dictum sit egestas tellus sed. Lacus lorem at dictum aliquam vitae sed habitasse morbi. Dui ut.</p>
							</div>
						</article>
					</a>
					<a href="#" class="partners__item col-4">
						<article>
							<div class="partners__item-content">
								<h4 class="h4">Economic Commission for Latin America and the Caribbean</h4>
								<p>Vel ut dictum sit egestas tellus sed. Lacus lorem at dictum aliquam vitae sed habitasse morbi. Dui ut.</p>
							</div>
						</article>
					</a>
					<a href="#" class="partners__item col-4">
						<article>
							<div class="partners__item-content">
								<h4 class="h4">United Nations Economic Commission for Europe</h4>
								<p>Vel ut dictum sit egestas tellus sed. Lacus lorem at dictum aliquam vitae sed habitasse morbi. Dui ut.</p>
							</div>
						</article>
					</a>
					<a href="#" class="partners__item col-4">
						<article>
							<div class="partners__item-content">
								<h4 class="h4">Instituto Dialog</h4>
								<p>Vel ut dictum sit egestas tellus sed. Lacus lorem at dictum aliquam vitae sed habitasse morbi. Dui ut.</p>
							</div>
						</article>
					</a>
					<a href="#" class="partners__item col-4">
						<article>
							<div class="partners__item-content">
								<h4 class="h4">The One UN Climate Change Learning Partnership</h4>
								<p>Vel ut dictum sit egestas tellus sed. Lacus lorem at dictum aliquam vitae sed habitasse morbi. Dui ut.</p>
							</div>
						</article>
					</a>
				</div>
				<a href="#" class="show-more">
					<div class="button show-more__button">Show more</div>
				</a>
			</section>
		</div>
		<div class="container">
			<section class="contacts">
				<div class="contacts__section row">
					<div class="contacts__column col-5">
						<div class="contacts__title small">Contact</div>
						<div class="h5">Integer tincidunt sodales dignissim tempor. Id vel ornare lorem felis at in. Odio in tristique blandit pharetra diam. Egestas praesent risus vitae elementum. Semper maecenas sit consequat at proin vitae.</div>
						<a class="contacts__email contacts__header-email" href="mailto:unhabitat-uni@un.org">unhabitat-uni@un.org</a>
						<a href="#" class="button button_small">More Services & Tools</a>
					</div>
					<div class="col-1"></div>
					<div class="contacts__column col-4">
						<div class="contacts__title small">Social Media</div>
						<div class="h5">Dignissim ultrices mi vel molestie. Mauris semper mauris varius sed a dignissim ligula integer velit. Diam eget arcu ullamcorper pulvinar tortor elit tellus eleifend morbi diam.</div>
						<ul class="contacts__social">
							<li class="contacts__social-item">
								<a class="contacts__social-link" href="#"><img src="img/icons/facebook.svg" alt="Facebook" width="24" height="24"></a>
							</li>
							<li class="contacts__social-item">
								<a class="contacts__social-link" href="#"><img src="img/icons/linkedin.svg" alt="Linkedin" width="24" height="24"></a>
							</li>
							<li class="contacts__social-item">
								<a class="contacts__social-link" href="#"><img src="img/icons/instagram.svg" alt="Instagram" width="24" height="24"></a>
							</li>
							<li class="contacts__social-item">
								<a class="contacts__social-link" href="#"><img src="img/icons/twitter.svg" alt="Twitter" width="24" height="24"></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="contacts__section">
					<div class="contacts__section-title h5">Our Experts</div>
					<div class="row">
						<div class="contacts__column col-3">
							<h4 class="contacts__title h4">Consectetur vel</h4>
							<div class="contacts__post">Head of Geneva Office (OiC), Office of the Executive Director.</div>
							<a href="mailto:unhabitat-uni@un.org" class="contacts__email">unhabitat-uni@un.org</a>
						</div>
						<div class="col-1"></div>
						<div class="contacts__column col-3">
							<h4 class="contacts__title h4">Egestas</h4>
							<div class="contacts__post">Programme Management Officer, Urban Practices Branch</div>
							<a href="mailto:unhabitat-uni@un.org" class="contacts__email">unhabitat-uni@un.org</a>
						</div>
						<div class="col-1"></div>
					</div>
				</div>
			</section>
		</div>
	</main>