extends ../components/header/header.pug

block content
	-
		var title = 'Stories'
		var breadcrumbs = [
			{title: 'Media', url: '/'},
			{title: 'News/Stories', url: '/'},
			{title: 'UN-Habitat and Rebirth Beirut join forces to improve the city’s urban infrastructure and environment', url: ''},
		]
		var contactsLeft = {
			title: 'Get in touch',
			text: 'Are you a journalist interested in UN-Habitat? Contact our communications team.',
			personName: 'Katerina Bezgachina',
			personPost: 'Chief of Communication',
			email: 'katerina.bezgachina@un.org'
		}
		var contactsRight = {
			title: 'Social Media',
			text: 'Connect with us on Social Media for the latest developments in sustainable urbanization'
		}

	+breadcrumbs(breadcrumbs)

	<main>
		<article>
			<div class="page__header page__header_background page__header_no-picture">
				<div class="container">
					<div class="page__background page__background_process-cyan"></div>
					<h1 class="page__title hero">Human rights in the digital era – Governance learnings from local pilots in Europe</h1>
					<div class="page__header-thumbnail page__header-thumbnail_vertical-caption row">
						<div class="col-5">
							<!-- <figure>
								<img src="img/photos/press-release.jpg" alt="">
								<figcaption>Housing Rehabilitation for Palestinians, Gaza Strip</figcaption>
							</figure> -->
						</div>
						<div class="col-1"></div>
						<div class="col-6">
							<div class="page__header-info">
								<div class="page__header-info-tag tag tag_large tag_white">Slum Upgrading</div>
								<div class="page__header-info-date"><time>11 January 2023</time></div>
								<h5 class="h5">Gaza city</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<section class="news-excerpt section">
					<h2 class="h2 section__title">Subheading</h2>
					<div class="row">
						<div class="col-7">
							<div class="news-excerpt__date small">
								<time datetime="">September 27th, 2023</time>
							</div>
							<p>Manal Jirjawi, is a 44-year-old woman heading a family of 13 members living in Shajaiah area close to Gaza city. She signed on to a self-help rehabilitation process with UN-Habitat targeting her damaged house from the May 2021 escalations.</p>
						</div>
				</section>
			</div>
			<div class="container">
				<section class="section quote-2cols">
					<div class="row">
						<div class="col-4">
							<div class="quote-2cols__thumbnail" style="background-image: url('img/photos/lecturer.jpg')"></div>
							<div class="quote-2cols__title h3">Diana Carillo Silva</div>
							<div class="h5">Climate Change CoP Coordinator</div>
						</div>
						<div class="col-1"></div>
						<div class="col-7">
							<div class="quote">Since 2021, the Climate Change and Urban Environment Community of Practice has hosted 16 sessions, bringing more than 400 colleagues together to discuss themes, events and initiatives like urban heat, urban biodiversity, IPCC reports, COPs, SURGe and I4C. Many of these sessions have been achieved in collaboration with other Communities of Practice and external partners like UNDP. Through one of the discussions, we gathered nature-based solutions case studies in more than 30 cities  across the agency</div>
						</div>
					</div>
				</section>
			</div>
			<div class="container section">
				<div class="row">
					<div class="col-5">
						<img src="img/photos/stats-1.svg" alt="">
					</div>
					<div class="col-7">
						<img src="img/photos/stats-2.svg" alt="">
					</div>
				</div>
				<div class="row">
					<div class="col-5">
						<img src="img/photos/stats-3.svg" alt="">
					</div>
					<div class="col-7">
						<img src="img/photos/stats-4.svg" alt="">
					</div>
				</div>
			</div>
			<div class="container section">
				<div class="row">
					<div class="col-7">
						<p>UN-Habitat, in collaboration with the Cities Coalition for Digital Rights, Eurocities and United Cities and Local Governments (UCLG) with funding from the Open Society Foundations, has launched the technical report: Human Rights in the Digital Era – Learnings on local governance from pilots in Europe with outcomes and tools developed as part of the Digital Rights Governance Project in Europe.</p>
						<p>The project team worked with local governments in Brussels, Dublin, Sofia and Tirana, and focused on technical support to uphold people-centered digital transformation strategies, policies and projects anchored on the promotion and protection of human rights in the digital context of cities.</p>
						<p>Digital transformation in cities and human settlements is complex and requires leadership, effective governance, capacity and a strong commitment to human rights, inclusion and sustainability. There are many opportunities to harness the potential of digital solutions for sustainable urban development; they have the potential to improve access to education, affordable housing, and critical government services. But there are also risks, challenges and unintended consequences if these technologies are not well governed.</p>
					</div>
					<div class="col-5">
						<figure>
							<img src="img/photos/press-release.jpg" alt="">
							<figcaption>Description| Source</figcaption>
						</figure>
					</div>
				</div>
			</div>
			<div class="container section">
				<div class="row">
					<div class="col-10">
						<p>Tortor arcu erat et mauris faucibus non urna porta velit. Aenean mauris tellus lectus sit fermentum commodo netus amet duis. Gravida in vivamus nisi nibh pharetra tellus mollis vel arcu. Cras sapien risus orci justo nec. Sed volutpat risus sed eget. Id in pulvinar aenean enim augue elementum aliquam.</p>
						<p>At commodo auctor ipsum semper. Praesent non sapien nisl tortor sed. Diam auctor lorem gravida cursus urna massa ullamcorper dolor. Dui integer tristique ut phasellus. Nam erat aliquam nunc convallis donec est mauris sollicitudin eget. Augue vitae sed posuere congue aliquet. Tristique leo orci aliquam in. Mattis quis quis venenatis urna amet interdum in. Suspendisse cursus vitae non metus a odio pharetra dui. Elit lacus sit euismod tortor fames. Sit pharetra lectus lectus elit malesuada faucibus vitae. Sed luctus cras non fames ultrices et integer. Pulvinar velit auctor viverra integer massa. Tellus laoreet tellus lorem amet. Amet eget suspendisse in nunc ut.</p>
						<p>Justo sit metus mattis urna gravida amet aliquam. Nulla gravida lacus amet fermentum faucibus mauris suspendisse posuere. Pellentesque eget eget senectus vel. Augue eget ipsum fermentum quis at nibh volutpat. Facilisis ornare aliquet id mauris pharetra. Mattis arcu enim cras faucibus. Malesuada non quis elementum nisl tellus nibh. In morbi maecenas bibendum quis. Egestas malesuada semper felis id. Sed ac ridiculus a nulla vel. In scelerisque faucibus diam congue pulvinar turpis orci nibh. Consequat nulla sit nisi aliquam in dolor turpis ornare. Magna molestie tristique vestibulum vulputate.</p>
					</div>
				</div>
			</div>
			<div class="container section">
				<div class="row">
					<div class="col-10">
						<figure>
							<img src="img/photos/news-image.jpg" alt="">
							<figcaption>Description| Source</figcaption>
						</figure>
					</div>
				</div>
			</div>
			<div class="events events_banner-small section container">
				<div class="events__item">
					<div class="events__item-content">
						<div class="events__item-footer">
							<div class="events__item-title h4">Should you wish to add your Best Practices here, please contact us at unhabitat-bestpractices@un.org</div>
							<a href="#" class="button button_white">The Urban Best Practices Database</a>
						</div>
					</div>
					<div class="events__item-background" style="background-image: url('img/photos/banner.jpg')"></div>
				</div>
			</div>
			<div class="container">
				<div class="events section">
					<div class="events__item">
						<div class="events__item-category h3">Events</div>
						<div class="events__item-content">
							<div class="events__item-header">
								<div class="events__item-date"><time>July 7—9 , 2023</time> | Barcelona</div>
								<div class="tag tag_small tag_arena">UN-Habitat Arena</div>
							</div>
							<div class="events__item-footer">
								<h2 class="events__item-title h2">Smart City Expo World Congress</h2>
								<a href="#" class="button button_white">Read more</a>
							</div>
						</div>
						<div class="events__item-background">
							<video class="events__item-video" autoplay muted playsinline loop>
								<source src="img/videos/events-1.mp4" type="video/mp4">
								<source src="img/videos/events-1.webm" type="video/webm">
							</video>
						</div>
					</div>
					<div class="events__item">
						<div class="events__item-category h3">Events</div>
						<div class="events__item-content">
							<div class="events__item-header">
								<div class="events__item-date"><time>July 7—9 , 2023</time> | Barcelona</div>
								<div class="tag tag_small tag_sessions">Special Sessions</div>
							</div>
							<div class="events__item-footer">
								<h2 class="events__item-title h2">Smart City Expo World Congress</h2>
								<a href="#" class="button button_white">Read more</a>
							</div>
						</div>
						<div class="events__item-background">
							<video class="events__item-video" autoplay muted playsinline loop>
								<source src="img/videos/events-2.mp4" type="video/mp4">
								<source src="img/videos/events-2.webm" type="video/webm">
							</video>
						</div>
					</div>
				</div>
			</div>
			+documents('Files')
			<section class="section container">
				<div class="row">
					<div class="col-10">
						<div class="video-embed-field-lazy">
							<img src="img/photos/news-image.jpg" alt="">
							<button class="video-embed-field-lazy-play"></button>
						</div>
					</div>
				</div>
			</section>
			+news({section: true, title: 'Related materials', grid: true, thumbnail: false})
			+contacts(contactsLeft, contactsRight, {social: true})
		</article>
	</main>