extends ../components/header/header.pug

block content
	-
		var title = 'UN-Habitat and Rebirth Beirut join forces to improve the city’s urban infrastructure and environment'
		var breadcrumbs = [
			{title: 'What we do', url: '/'},
			{title: 'News', url: '/'},
			{title: 'News Template', url: ''},
		]
		var contactsLeft = {
			title: 'Get in touch',
			text: 'Are you a journalist interested in UN-Habitat? Contact our communications team.',
			personName: 'Katerina Bezgachina',
			personPost: 'Chief of Communication',
			email: 'katerina.bezgachina@un.org'
		}
		var contactsRight = {
			title: 'Social Media',
			text: 'Connect with us on Social Media for the latest developments in sustainable urbanization'
		}

	+breadcrumbs(breadcrumbs)

	main
		<article>
			<div class="page__header page__header_background page__header_thumbnail">
				<div class="container">
					<div class="page__background page__background_process-cyan"></div>
					<h1 class="page__title hero">UN-Habitat and Rebirth Beirut join forces to improve the city’s urban infrastructure and environment</h1>
					<div class="page__header-thumbnail row">
						<div class="col-5">
							<figure>
								<img src="img/photos/press-release.jpg" alt="">
								<figcaption>Description| Source</figcaption>
							</figure>
						</div>
						<div class="col-1"></div>
						<div class="col-6">
							<div class="page__header-info">
								<div class="page__header-info-tag tag tag_large tag_white">Slum Upgrading</div>
								<div class="page__header-info-tag tag tag_large tag_white">Slum Upgrading</div>
								<div class="page__header-info-tag tag tag_large tag_white">Slum Upgrading</div>
								<div class="page__header-info-tag tag tag_large tag_white">Slum Upgrading</div>
								<div class="page__header-info-tag tag tag_large tag_white">Slum Upgrading</div>

								<div class="page__header-info-date"><time>11 January 2023</time></div>
								
								<h5 class="page__header-info-country h5">Country</h5>
								<h5 class="page__header-info-country h5">Country</h5>
								<h5 class="page__header-info-country h5">Country</h5>
								<h5 class="page__header-info-country h5">Country</h5>
								<h5 class="page__header-info-country h5">Country</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="section">
					<div class="row">
						<div class="col-10">
							<p>Habitasse enim adipiscing id rhoncus amet diam ultrices integer. Adipiscing sodales nulla sem vulputate quam fermentum porta. Vehicula cras ante aliquam hac cras est viverra aenean. Sed sit neque ridiculus ut commodo tempor. Lorem turpis id nullam sit cursus nec. Et cursus lectus arcu aenean elementum eget tortor accumsan. Risus arcu condimentum aliquet feugiat orci nec lectus velit. Turpis mi condimentum cursus aliquam dolor. Tempus cursus nisl arcu dolor fusce scelerisque.</p>
							<p>Leo quam facilisis non eget ultrices gravida nisi nunc. Ut egestas at tristique ipsum cum. Diam fringilla et varius amet pretium lacinia at. Viverra posuere cursus morbi amet. Felis pellentesque enim habitasse tincidunt feugiat. Sagittis risus accumsan sed magna consequat fringilla mattis pulvinar. Et arcu mus potenti enim nibh pellentesque diam. Augue molestie est diam rhoncus ut. Consequat lectus non augue libero. Volutpat facilisi ante nulla donec sagittis fermentum nibh in. Nam tempor duis fermentum ut elit malesuada cursus. Sed leo a eget sed nunc egestas. Sit vitae porta varius vitae adipiscing aliquam aenean eget. Sollicitudin pulvinar sed viverra nec commodo.</p>
							<p>Habitasse enim adipiscing id rhoncus amet diam ultrices integer. Adipiscing sodales nulla sem vulputate quam fermentum porta. Vehicula cras ante aliquam hac cras est viverra aenean. Sed sit neque ridiculus ut commodo tempor. Lorem turpis id nullam sit cursus nec. Et cursus lectus arcu aenean elementum eget tortor accumsan. Risus arcu condimentum aliquet feugiat orci nec lectus velit. Turpis mi condimentum cursus aliquam dolor. Tempus cursus nisl arcu dolor fusce scelerisque.</p>
							<p>Leo quam facilisis non eget ultrices gravida nisi nunc. Ut egestas at tristique ipsum cum. Diam fringilla et varius amet pretium lacinia at. Viverra posuere cursus morbi amet. Felis pellentesque enim habitasse tincidunt feugiat. Sagittis risus accumsan sed magna consequat fringilla mattis pulvinar. Et arcu mus potenti enim nibh pellentesque diam. Augue molestie est diam rhoncus ut. Consequat lectus non augue libero. Volutpat facilisi ante nulla donec sagittis fermentum nibh in. Nam tempor duis fermentum ut elit malesuada cursus. Sed leo a eget sed nunc egestas. Sit vitae porta varius vitae adipiscing aliquam aenean eget. Sollicitudin pulvinar sed viverra nec commodo.</p>
							<p>Habitasse enim adipiscing id rhoncus amet diam ultrices integer. Adipiscing sodales nulla sem vulputate quam fermentum porta. Vehicula cras ante aliquam hac cras est viverra aenean. Sed sit neque ridiculus ut commodo tempor. Lorem turpis id nullam sit cursus nec. Et cursus lectus arcu aenean elementum eget tortor accumsan. Risus arcu condimentum aliquet feugiat orci nec lectus velit. Turpis mi condimentum cursus aliquam dolor. Tempus cursus nisl arcu dolor fusce scelerisque.</p>
							<p>Leo quam facilisis non eget ultrices gravida nisi nunc. Ut egestas at tristique ipsum cum. Diam fringilla et varius amet pretium lacinia at. Viverra posuere cursus morbi amet. Felis pellentesque enim habitasse tincidunt feugiat. Sagittis risus accumsan sed magna consequat fringilla mattis pulvinar. Et arcu mus potenti enim nibh pellentesque diam. Augue molestie est diam rhoncus ut. Consequat lectus non augue libero. Volutpat facilisi ante nulla donec sagittis fermentum nibh in. Nam tempor duis fermentum ut elit malesuada cursus. Sed leo a eget sed nunc egestas. Sit vitae porta varius vitae adipiscing aliquam aenean eget. Sollicitudin pulvinar sed viverra nec commodo.</p>
						</div>
					</div>
				</div>
			</div>
		</article>
		+news({section: true, title: 'Related materials', grid: true, thumbnail: false})
		+contacts(contactsLeft, contactsRight, {social: true})