extends ../components/header/header.pug

block content
	-
		var title = 'Sections'
		var breadcrumbs = [
			{title: title, url: ''},
		]
		var featured = [
			'Vision, Scenario Building, and Action Plan for the city of New Damietta',
			'Kakuma Regeneration Strategy',
			'Status Report on the Achievement of Goal 11 in Palestine',
			'Policy Legislation and Governance Section Annual Report 2022'
		]

	+breadcrumbs(breadcrumbs)

	main
		.container
			section.areas.areas_carousel.section
				<div class="h5 mb-16">Sustainable Development Goals</div>
				<div class="areas__carousel-text">
					<div class="row">
						<div class="col-4">
							<h2 class="h1">No poverty</h2>
						</div>
						<div class="col-1"></div>
						<div class="col-6">
							<div class="quote">
								<p>With humanity becoming increasingly urban, trends indicate poverty is also becoming increasingly urban. Sustainable urbanization improves the lives of people in human settlements around the world and increases prosperity.</p>
							</div>
						</div>
						<div class="col-1"></div>
					</div>
					<div class="row">
						<div class="col-4">
							<h2 class="h1">Good health and well-being</h2>
						</div>
						<div class="col-1"></div>
						<div class="col-6">
							<div class="quote">
								<p>As the UN focal point for sustainable urbanization and human settlements, UN-Habitat is the custodian agency for 9 of the 15 indicators under SDG 11 and supports the monitoring and reporting of 4 indicators in other goals.</p>
							</div>
						</div>
						<div class="col-1"></div>
					</div>
				</div>
				<div class="areas__carousel">
					<div class="areas__carousel-item">
						<img src="img/icons/challenge-1.svg" alt="">
					</div>
					<div class="areas__carousel-item">
						<img src="img/icons/challenge-3.svg" alt="">
					</div>
					<div class="areas__carousel-item">
						<img src="img/icons/challenge-6.svg" alt="">
					</div>
					<div class="areas__carousel-item">
						<img src="img/icons/challenge-7.svg" alt="">
					</div>
					<div class="areas__carousel-item">
						<img src="img/icons/challenge-8.svg" alt="">
					</div>
					<div class="areas__carousel-item">
						<img src="img/icons/challenge-9.svg" alt="">
					</div>
					<div class="areas__carousel-item">
						<img src="img/icons/challenge-11.svg" alt="">
					</div>
					<div class="areas__carousel-item">
						<img src="img/icons/challenge-12.svg" alt="">
					</div>
					<div class="areas__carousel-item">
						<img src="img/icons/challenge-13.svg" alt="">
					</div>
					<div class="areas__carousel-item">
						<img src="img/icons/challenge-14.svg" alt="">
					</div>
					<div class="areas__carousel-item">
						<img src="img/icons/challenge-17.svg" alt="">
					</div>
				</div>

		+news({section: true, title: 'News', category: 'News', grid: true, thumbnail: true})
		+news({section: true, title: 'Statements', grid: true, thumbnail: false})

		.container
			.events.events--rounded.events_banner.section
				.events__item
					.events__item-category.events__item-category--large.h3 New Urban Agenda
					.events__item-content
						.events__item-header
							.events__item-date
								time(datetime="July 7—9 , 2023") July 7—9 , 2023
								| Barcelona
							.tag.tag_small.tag_arena UN-Habitat Arena
						.events__item-footer
							.events__item-title.h2 Smart City Expo World Congress
							a.button.button_white(href="#") Explore
					.events__item-background(style="background-image: url('img/photos/banner.webp')")

		.container
			.events.events_banner.section
				.events__item
					.events__item-category.h3 UNH Learn
					.events__item-content
						.events__item-header
							.events__item-date
								time(datetime="July 7—9 , 2023") July 7—9 , 2023
								| Barcelona
							.tag.tag_small.tag_arena UN-Habitat Arena
						.events__item-footer
							.events__item-title.h2 Smart City Expo World Congress
							a.button.button_white(href="#") Explore
					.events__item-background.events__item-background--video
						video.events__item-video(autoplay="" muted="" playsinline="" loop="")
							source(src="img/videos/events-2.mp4" type="video/mp4")
							source(src="img/videos/events-2.webm" type="video/webm")

		.container
			.featured.section
				.section__header
					.section__title.quote Featured
					a.section__link(href="#") see all
				.featured__items
					each item, index in featured
						if index === 0
							a.featured__item.featured__item_no-picture(href="#")
								.featured__item-title= item
						else
							a.featured__item(href="#")
								.featured__item-thumbnail(style=`background-image: url('img/photos/featured-${index + 1}.webp')`)
								.featured__item-title= item