extends ../components/header/header.pug

block content
	-
		var title = 'Statements'
		var breadcrumbs = [
			{title: 'Media', url: '/'},
			{title: title, url: ''}
		]

	+breadcrumbs(breadcrumbs)

	<main>
		<article>
			<div class="container">
				<div class="page__header page__header_row">
					<h1 class="h1">Statements</h1>
					<div class="filter">
						<div class="filter__item filter__item_topic">
							<select name="topic[]" class="filter__select" data-placeholder="Topic">
								<option value="1">Advocacy</option>
								<option value="2">Climate Change</option>
								<option value="3">Capacity Building</option>
								<option value="4">Disability</option>
								<option value="5">Gender</option>
								<option value="6">Housing</option>
								<option value="7">Human Rights</option>
								<option value="8">Advocacy</option>
								<option value="9">Climate Change</option>
								<option value="10">Capacity Building</option>
								<option value="11">Disability</option>
								<option value="12">Gender</option>
								<option value="13">Housing</option>
								<option value="14">Human Rights</option>
							</select>
						</div>
						<div class="filter__item filter__item_country">
							<select name="country[]" class="filter__select" data-placeholder="Country">
								<option value="1">Afghanistan</option>
								<option value="2">Africa Region</option>
								<option value="3">Andean Countries HUB</option>
								<option value="4">Angola</option>
								<option value="5">Arab States Region</option>
								<option value="6">Argentina</option>
								<option value="7">Asia and the Pacific Region</option>
								<option value="8">Afghanistan</option>
								<option value="9">Africa Region</option>
								<option value="10">Andean Countries HUB</option>
								<option value="11">Angola</option>
								<option value="12">Arab States Region</option>
								<option value="13">Argentina</option>
								<option value="14">Asia and the Pacific Region</option>
							</select>
						</div>
						<div class="filter__item filter__item_year">
							<select name="year[]" class="filter__select" data-placeholder="Year">
								<option value="1">2011</option>
								<option value="2">2012</option>
								<option value="3">2013</option>
								<option value="4">2014</option>
								<option value="5">2015</option>
								<option value="6">2016</option>
								<option value="7">2017</option>
								<option value="8">2018</option>
								<option value="9">2019</option>
								<option value="10">2020</option>
								<option value="11">2021</option>
								<option value="12">2022</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="search">
					<input class="search__field" type="text" placeholder="Search">
					<button class="search__clear"></button>
					<button class="search__submit">Search</button>
				</div>
			</div>
			<div class="container">
				<div class="statements">
					<div class="statements__item">
						<div class="statements__item-content">
							<div class="statements__item-date"><time>26 September 2023</time></div>
							<div class="statements__item-title">
								<h4 class="h4">Executive Director of UN-Habitat briefing to Member States on the Implementation of the Second Session of the United Nations Habitat Assembly</h4>
							</div>
						</div>
						<div class="statements__item-download">
							<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
						</div>
					</div>
					<div class="statements__item">
						<div class="statements__item-thumbnail" style="background-image: url('img/photos/press-2.jpg')"></div>
						<div class="statements__item-content">
							<div class="statements__item-date"><time>26 September 2023</time></div>
							<div class="statements__item-title">
								<h4 class="statements__item-title h4">Media advisory on the World Cities Day 2023 and zero-waste initiatives briefing</h4>
							</div>
						</div>
						<div class="statements__item-download">
							<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
						</div>
					</div>
					<div class="statements__item">
						<div class="statements__item-thumbnail" style="background-image: url('img/photos/press-7.jpg')"></div>
						<div class="statements__item-content">
							<div class="statements__item-date"><time>26 September 2023</time></div>
							<div class="statements__item-title">
								<h4 class="statements__item-title h4">UN-Habitat and Rebirth Beirut join forces to improve the city’s urban infrastructure and environment</h4>
							</div>
						</div>
						<div class="statements__item-download">
							<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
						</div>
					</div>
					<div class="statements__item">
						<div class="statements__item-content">
							<div class="statements__item-date"><time>26 September 2023</time></div>
							<div class="statements__item-title">
								<h4 class="statements__item-title h4">Communication from the Permanent Mission of the Russian federation to Nairobi dated June 2023</h4>
							</div>
						</div>
						<div class="statements__item-download">
							<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
						</div>
					</div>
					<div class="statements__item">
						<div class="statements__item-thumbnail" style="background-image: url('img/photos/press-4.jpg')"></div>
						<div class="statements__item-content">
							<div class="statements__item-date"><time>26 September 2023</time></div>
							<div class="statements__item-title">
								<h4 class="statements__item-title h4">023 UN-Habitat Scroll of Honour Award winners announced</h4>
							</div>
						</div>
						<div class="statements__item-download">
							<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
						</div>
					</div>
					<div class="statements__item">
						<div class="statements__item-content">
							<div class="statements__item-date"><time>26 September 2023</time></div>
							<div class="statements__item-title">
								<h4 class="statements__item-title h4">Executive Director of UN-Habitat speech at the World Refugee Day celebrations at Kakuma-Kalobeyei in Kenya</h4>
							</div>
						</div>
						<div class="statements__item-download">
							<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
						</div>
					</div>
					<div class="statements__item">
						<div class="statements__item-content">
							<div class="statements__item-date"><time>26 September 2023</time></div>
							<div class="statements__item-title">
								<h4 class="statements__item-title h4">Executive Director of UN-Habitat speech at the Kenya Urban Forum “Strategic Pathways to Inclusive and Sustainable Urbanization in Kenya”</h4>
							</div>
						</div>
						<div class="statements__item-download">
							<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
						</div>
					</div>
					<div class="statements__item">
						<div class="statements__item-content">
							<div class="statements__item-date"><time>26 September 2023</time></div>
							<div class="statements__item-title">
								<h4 class="statements__item-title h4">Executive Director of UN-Habitat speech at the closing of the second session of the United Nations Habitat Assembly</h4>
							</div>
						</div>
						<div class="statements__item-download">
							<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
						</div>
					</div>
					<div class="statements__item">
						<div class="statements__item-content">
							<div class="statements__item-date"><time>26 September 2023</time></div>
							<div class="statements__item-title">
								<h4 class="statements__item-title h4">Communication from the Embassy of Ukraine in the Republic of Kenya for the period of 22 May 2023 to 6 June 2023</h4>
							</div>
						</div>
						<div class="statements__item-download">
							<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
						</div>
					</div>
					<div class="statements__item">
						<div class="statements__item-thumbnail" style="background-image: url('img/photos/press-5.jpg')"></div>
						<div class="statements__item-content">
							<div class="statements__item-date"><time>26 September 2023</time></div>
							<div class="statements__item-title">
								<h4 class="statements__item-title h4">UN-Habitat in Tunisia moderates a panel on 'The Cities of the Future' as part of the “Youth Future Zone” Symposium organised by the ministry of Youth and Sports and the National Youth Observatory</h4>
							</div>
						</div>
						<div class="statements__item-download">
							<a href="#" class="statements__item-button button button_download button_small button_black">English</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">Español</a>
							<a href="#" class="statements__item-button button button_download button_small button_black">العربية</a>
						</div>
					</div>
					<a href="#" class="statements__button show-more">
						<div class="button show-more__button">Show more</div>
					</a>
				</div>
			</div>
		</article>
		<div class="container">
			<section class="contacts">
				<div class="contacts__section row">
					<div class="contacts__column col-5">
						<div class="contacts__title small">Get in touch</div>
						<div class="h5">Are you a journalist interested in UN-Habitat? Contact our communications team.</div>
						<div class="contacts__title h4">Katerina Bezgachina</div>
						<div class="contacts__post">Chief of Communication</div>
						<a class="contacts__email contacts__header-email" href="mailto:katerina.bezgachina@un.org">katerina.bezgachina@un.org</a>
					</div>
					<div class="col-1"></div>
					<div class="contacts__column col-4">
						<div class="contacts__title small">Social Media</div>
						<h5 class="h5">Connect with us on Social Media for the latest developments in sustainable urbanization</h5>
						<ul class="contacts__social">
							<li class="contacts__social-item">
								<a class="contacts__social-link" href="#"><img src="img/icons/facebook.svg" alt="Facebook" width="24" height="24"></a>
							</li>
							<li class="contacts__social-item">
								<a class="contacts__social-link" href="#"><img src="img/icons/linkedin.svg" alt="Linkedin" width="24" height="24"></a>
							</li>
							<li class="contacts__social-item">
								<a class="contacts__social-link" href="#"><img src="img/icons/instagram.svg" alt="Instagram" width="24" height="24"></a>
							</li>
							<li class="contacts__social-item">
								<a class="contacts__social-link" href="#"><img src="img/icons/twitter.svg" alt="Twitter" width="24" height="24"></a>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
	</main>