extends ../components/header/header.pug

block content
	-
		var title = 'Stories'
		var breadcrumbs = [
			{title: 'Media', url: '/'},
			{title: title, url: ''},
		]

	+breadcrumbs(breadcrumbs)

	main
		+page-header(title, '', {filter: true})
		+search
		+news({section: false, thumbnail: true})