doctype html

include ../breadcrumbs/breadcrumbs.pug
include ../page-header/page-header.pug
include ../documents/documents.pug
include ../contacts/contacts
include ../page-navigation/page-navigation.pug
include ../related-material/related-material.pug
include ../job-list/job-list.pug
include ../leadership/leadership.pug
include ../search/search.pug
include ../news/news.pug
include ../slider/slider.pug
include ../projects/projects.pug
include ../publications/publications.pug

html(lang="zh-hans")
	head
		meta(charset="UTF-8")
		meta(name='viewport' content='width=device-width, initial-scale=1.0')

		link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css')
		link(rel='stylesheet' href='lib/flickity.min.css')
		link(rel='stylesheet' href='sass/style.css')
		link(rel='stylesheet' href='sass/maintenance.css')
		link(rel='stylesheet' href='https://unpkg.com/leaflet@1.8.0/dist/leaflet.css')

		title UN-HABITAT
	
	body(class=['page ', body_class ? body_class : ''])
		a(href="#main-content" class="visually-hidden focusable") Skip to main content

		.dialog-off-canvas-main-canvas(data-off-canvas-main-canvas)
			#page
				header.header
					a(class="header__logo" href="/" aria-label="logo")
					nav.header__nav
						ul.header__menu
							each item in ['Who we are', 'Where we are', 'What we do', 'Knowledge', 'Events', 'Get Involved', 'Media']
								li.header__menu-item
									a.header__menu-link= item

					.header__right.d-flex.align-items-center
						ul.lang-toggle
							li
								a.language-link(href="en") en
							li
								span.is-active zh-hans

						button.header__search
						button.header__button

				include ../search-modal/search-modal.pug

				block content

				block footer
					include ../footer/footer.pug

		block scripts
			include ../scripts.pug