mixin slider
	.un-slider-wrap
		.un-slider-text A new focus for UN-Habitat
		.un-slider-title.container
			.h2 Our focus
		.section.un-slider
			.un-slider__item(style="background-image: url('./img/photos/slide-4.webp')" title="Photo 4")
				.un-slider__item-title Reduced spatial inequality and poverty in communities across the urban-rural continuum
				.un-slider__item-footer
					.un-slider__item-category outcomes
					.un-slider__item-cols
						.un-slider__item-col Increased and equal access to basic services, sustainable mobility and public space
						.un-slider__item-col Increased and secure access to land, and adequate and affordable housing
						.un-slider__item-col Effective settlements growth and regeneration
			.un-slider__item(style="background-image: url('./img/photos/slide-1.webp')" title="Photo 1")
			.un-slider__item(style="background-image: url('./img/photos/slide-2.webp')" title="Photo 2")
			.un-slider__item(style="background-image: url('./img/photos/slide-3.webp')" title="Photo 3")